.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 15px 0;
    background-color: $surface-200;
    border-bottom: 1px solid $surface-300;
    z-index: 999;

    .row {
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }

    &_logo {
        width: 200px;
        height: auto;
        font-size: 18px;
        line-height: 1.2;
        font-weight: bold;
        color: $text;
        text-decoration: none;
        opacity: 1;
        transition: opacity .3s ease;

        span {
            font-weight: bold;
            color: $primary-100;
        }

        img {
            width: 100%;
            max-width: 100%;
            height: auto;
        }

        &:hover {
            opacity: 0.8;
        }
    }

    &_nav {
        width: calc(100% - 40px - 200px - 30px);

        ul {
            list-style-type: none;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 20px;

            li {
                a {
                    font-size: 14px;
                    line-height: 1.2;
                    font-weight: 500;
                    color: $text;
                    text-decoration: none;
                    text-transform: uppercase;
                    transition: color .3s ease;

                    &:hover {
                        color: $primary-100;
                    }
                }
            }
        }
    }

    &_nav_collapse {
        display: none;
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;

        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 2px;
            background-color: $text;
            transition: .3s ease;

            &::before, &::after {
                content: '';
                position: absolute;
                right: 0;
                width: 100%;
                height: 100%;
                background-color: $text;
                opacity: 1;
                transition: .3s ease;
            }

            &::before {
                top: -400%;
            }

            &::after {
                bottom: -400%;
                width: 70%;
            }
        }

        &:hover {
            span {
                background-color: $primary-100;

                &::before, &::after {
                    background-color: $primary-100;
                }

                &::after {
                    width: 100%;
                }
            }
        }

        &.active {
            span {
                width: 80%;
                transform: translate(-50%, -50%) rotate(-45deg);

                &::before {
                    top: 0;
                    transform: rotate(90deg);
                }

                &::after {
                    opacity: 0;
                }
            }
        }
    }
}

@media (max-width: $set-mobile) {
    .header {
        padding: 20px 0;
    
        &_nav {
            position: absolute;
            left: 0;
            top: 61px;
            width: 100%;
            opacity: 0;
            visibility: hidden;
            background-color: $surface-200;
            border-bottom: 1px solid $surface-300;
            transition: visibility, opacity, top .3s ease;

            &.open {
                top: 71px;
                opacity: 1;
                visibility: visible;
            }
    
            ul {
                display: flex;
                justify-content: center;
                gap: 0;
                flex-wrap: wrap;
    
                li {
                    width: 100%;

                    a {
                        display: block;
                        width: 100%;
                        font-size: 15px;
                        color: $text;
                        text-align: center;
                        transition: all .3s ease;
                        padding: 15px;
    
                        &:hover {
                            background-color: $primary-100;
                            color: $text;
                        }
                    }

                    &:not(:last-child) {
                        a {
                            border-bottom: 1px solid $surface-300;
                        }
                    }
                }
            }
        }

        &_nav_collapse {
            display: block;
        }
    }
}